@import "tailwindcss";

@theme {
  --color-primary: #6d28d9;
  --color-primary-hover: #5b21b6;

  --color-bg: #f5f5f7;
  --color-surface: #ffffff;

  --color-text: #111827;
  --color-muted: #6b7280;

  --color-border: #e5e7eb;

  --radius-main: 24px;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}